@charset "utf-8";
/* CSS Document */

/* ====================== General styles ====================== */
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #fff;
  font-size: 0.85em;
  letter-spacing: 1px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
	display: flex;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 0;
  list-style: none;
  background-color: #eee;
  font-size: 1.5em;
  margin: 0;
	text-align: center;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0000ad;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
}

/* ====================== Map ====================== */
#map {
  height: 200px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #0000FF;
  text-align: center;
	padding: 10px 0;
}
.filter-options h2 {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
	text-align: center;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 0.85em;
  height: auto;
  letter-spacing: 0;
  margin: 0 5px;
  padding: 0 10px;
  width: 35%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px 0;
  padding: 0;
  width: 95%;
	height: auto;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  height: auto;
  width: 100%;
}
#restaurants-list li h3 {
  font-family: Arial,sans-serif;
  font-size: 1.25em;
  font-weight: bold;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.25em;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #000;
  display: inline-block;
  font-size: 0.85em;
  margin: 15px 0 0;
  padding: 2.5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	border-radius: 20px;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
	height: 250px;
  top: 110.4px;
  width: 100%;
	z-index: 1000;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  width: 100%;
}
#restaurant-name {
  color: #0000ad;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 10px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1.25em;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container,
#reviews-container,
#add-review-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#reviews-container {
  padding: 0;
}
#reviews-container h2 {
  color: #0000ad;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 1px;
	margin: 10px;
}
#reviews-list{
  margin: 0;
  padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#reviews-list li,
#add-review-form  {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 75%;
	border-radius: 20px;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

#add-review-form {
	display: flex;
	flex-direction: column;
}
#add-review-form input, textarea {
	width: 30%;
	margin: 0 0 10px;
	border-radius: 10px;
	padding: 5px;
}
#add-review-form textarea {
	width: 95%;
	padding: 5px 0 0 5px;
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
  color: darkblue;
}

@media screen and (min-width: 550px) {
	/* =============== Map =============== */
	#map {
	  height: 300px;
	}

	/* =============== Restaurant Filtering =============== */
	.filter-options select {
		font-size: 0.85em;
		width: 25%;
	}

	/* =============== Restaurant Listing =============== */
	#restaurants-list {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#restaurants-list li {
		width: 45%;
	}
	#restaurants-list p {
		font-size: 0.85em;
	}

	/* =============== General Styles =============== */
	body,td,th,p {
		font-size: 0.85em;
	}

	/* =============== Restaurant Details =============== */
	#restaurant-name {
		font-size: 1.75em;
	}
	#restaurant-cuisine {
		font-size: 1.5em;
	}
	#restaurant-address {
		font-size: 1.25em;
	}
	.inside #map-container {
		top: 116px;
	}
}

@media screen and (min-width: 800px) {
	/* =============== Map =============== */
	#map {
	  height: 400px;
	}

	/* =============== Navigation ===============*/
	nav h1 a {
	  font-size: 1.25em;
	}

	/* =============== Restaurant Filtering =============== */
	.filter-options {
		margin-bottom: 5px;
	}
	.filter-options select {
		margin: 0 15px;
		width: 25%;
		font-size: 1em;
	}

	/* ====================== Restaurant Listing ====================== */
	#restaurants-list li h3 {
		font-size: 1.25em;
	}
	#restaurants-list p {
		font-size: 1em;
	}

	/* =============== Restaurant Details ===============*/
	.inside header {
		position: fixed;
	}
	.inside #map-container {
	  height: auto;
		left: 50%;
		bottom: 0;
	  width: 50%;
		position: fixed;
	}
	#restaurant-container,
	#reviews-container,
	#add-review-container {
	  width: 50%;
	}
	#restaurant-container {
		padding: 116px 0 0;
	}
	#reviews-list li {
	  margin: 10px 0;
	}
	.inside #footer {
		width: 50%;
	}
}

@media screen and (min-width: 1200px) {
	/* =============== Restaurant Filtering =============== */
	.filter-options select {
		width: 20%;
	}

	/* ====================== Restaurant Listing ====================== */
	#restaurants-list li {
		width: 18%;
	}
	#restaurants-list li h3 {
		font-size: 0.85em;
	}
	#restaurants-list p {
		font-size: 0.75em;
	}
	#restaurants-list li a {
		font-size: 0.75em
	}

@media screen and (min-width: 1400px) {
	body {
		text-align: center;
		margin: 0 10%;
	}
	/* =============== Restaurant Filtering =============== */
	.filter-options select {
		width: 15%;
	}
	#restaurants-list li h3 {
		font-size: 1em;
	}
	#restaurants-list p {
		font-size: 0.85em
	}
}
